<header>
  <!-- User dropdown  -->
  <ul id="userdropdown" class="dropdown-content">
    <li><a [routerLink]="['/login']">Sair</a></li>
  </ul>

  <!-- Market dropdown  -->
  <ul id="marketdropdown" class="dropdown-content">
    <li>
      <div class="row nomarginbotton valign-wrapper" (click)="ondropdownClick('BRL/BTC')">
        <div class="col s3"><i class="fa fa-btc fa-2x amber-text" aria-hidden="true"></i></div>
        <div class="col s9">BRL/BTC</div>
      </div>
    </li>
    <li>
      <div class="row nomarginbotton valign-wrapper" (click)="ondropdownClick('BRL/BTA')">
        <div class="col s3"> <i class="fa fa-eercast fa-2x purple-text" aria-hidden="true"></i></div>
        <div class="col s9">BRL/BTA</div>
      </div>
    </li>
  </ul>

  <!-- Mobile Market dropdown -->
  <ul id='mobilemarketdrompdown' class='dropdown-content'>
    <li>
      <div class="col s12" (click)="ondropdownClick('BRL/BTC')">BRL/BTC</div>
    </li>
    <li>
      <div class="col s12" (click)="ondropdownClick('BRL/BTA')">BRL/BTA</div>
    </li>
  </ul>

  <!-- Navbar -->
  <app-navbar [market]="market" [user]="user" [dropdown]="dropdown"></app-navbar>

  <!-- SideNav-->
  <app-sidenav [market]="market" [user]="user" [dropdown]="dropdown"></app-sidenav>
</header>