@import "../../../../styles.scss";

// styles for large screens and up
@media #{$large-and-up} {
    .brand-logo {
        padding-left: 300px;
    }
}

.sidenav .companylogo {
    padding-top: 6px;
}

#nav-mobile .top {
    position: absolute;
    top: -21px;
}