@import "../../../../styles.scss";

// styles for large screens and up
@media #{$large-and-up} {
    .brand-logo {
        padding-left: 300px;
    }
}

.brlmoney {
    font-size: 22px;
.sidenav .companylogo {
    padding-top: 6px;
}

.nomarginbotton {
    margin-bottom: 0;
#nav-mobile .top {
    position: absolute;
    top: -21px;
}