<header>
  <!-- Navbar -->
  <nav>
    <div class="nav-wrapper">
      <!-- Logo -->
      <a href="#" class="brand-logo center"><img src="../../../../assets/logostonewhite.png" alt=""></a>
      <!-- SideNav hamburger Icon -->
      <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="fa fa-bars fa-2x" aria-hidden="true"></i></a>
    </div>
  </nav>
  <!-- SideNav-->
  <ul id="slide-out" class="sidenav sidenav-fixed">
    <li>
      <!-- SideNav User data -->
      <div class="user-view">
        <div class="background"></div>
        <a href="#user"><img class="circle" src="../../../assets/user.png"></a>
        <a><span class="name">...</span></a>
        <!-- <a href="#email"><span class="white-text email">...@....com</span></a> -->
      </div>
      <a class="right-align"><span class="">... <strong> BRL</strong></span></a>
      <a class="right-align"><span class="">... <i class="fa fa-btc fa-2x" aria-hidden="true"></i></span></a>
      <a class="right-align"><span class="">... <i class="fa fa-eercast fa-2x" aria-hidden="true"></i></span></a>
    </li>
    <li>
      <div class="divider"></div>
    </li>
    <!-- SideNav Menu  -->
    <li><a class="waves-effect waves-green sidenav-close" [routerLink]="['/']"><i class="fa fa-tachometer fa-2x" aria-hidden="true"></i>DashBoard</a></li>
  </ul>
</header>