<!-- Operation -->
<div class="col s12 m7">
  <div class="card">
    <!-- Transaction type -->
    <div class="card-tabs">
      <ul class="tabs tabs-fixed-width">
        <li class="tab"><a href="#buy" (click)="onTabClick('buy')"> <strong> Buy</strong></a></li>
        <li class="tab"><a href="#sell" (click)="onTabClick('sell')"><strong>Sell</strong></a></li>
      </ul>
    </div>
    <!-- Buy Operation -->
    <div id="buy">
    </div>
    <!-- Sell Operation -->
    <div id="sell">
    </div>
  </div>
</div>