<div class="card-content">
  <!-- Currencies to buy -->
  <div class="section">
    <h5>Currency</h5>
    <div class="row nomarginbotton">
      <ng-container *ngFor="let currency of first">
        <div class="col s5 m3 currencymethod">
          <div class="card-panel hoverable" [ngClass]="{'selected': order.firstcurrency == currency}" (click)="onCurrencyClick('first', currency)">
            <div [innerHTML]="currencies[currency].icon"></div> <span class=""></span>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="divider"></div>
  <!-- Payment Methods -->
  <div class="section">
    <h5>Payment Method</h5>
    <div class="row nomarginbotton">
      <ng-container *ngFor="let currency of second">
        <div class="col s5 m3 currencymethod">
          <div class="card-panel hoverable" [ngClass]="{'selected': order.secondcurrency == currency}" (click)="onCurrencyClick('second', currency)">
            <div [innerHTML]="currencies[currency].icon"></div><span class=""></span>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="divider"></div>
  <!-- Amount of currency to buy -->
  <div class="section">
    <div class="row valign-wrapper nomarginbotton">
      <div class="col s6">
        <h5>Amount</h5>
      </div>
      <div class="col s6">
        <h6 class="right" *ngIf="brlusermax == '100%'">(Value above the allowed*)</h6>
      </div>
    </div>
    <div class="progress">
      <div class="determinate" [ngClass]="{'red': brlusermax == '100%'}" [ngStyle]="{'width': brlusermax}"></div>
    </div>
    <div class="row valign-wrapper nomarginbotton">
      <div class="input-field col s5">
        <input id="amount" type="number" maxlength="20" (keyup)="onAmountInputKeyup($event.target.value)" [value]="order.getAmount()"
          [disabled]="!order.secondcurrency">
        <label class="active" for="amount">{{currencies[order.firstcurrency]?.label}}</label>
      </div>
      <div class="col s2 center">
        <i class="fa fa-exchange fa-2x" aria-hidden="true"></i>
      </div>
      <div class="input-field col s5">
        <input id="total" type="number" maxlength="20" (keyup)="onTotalInputKeyup($event.target.value)" [value]="order.getTotal()"
          [disabled]="!order.secondcurrency">
        <label class="active" for="total">BRL</label>
      </div>
    </div>
  </div>
</div>
<!-- Button to confirm the transaction -->
<div class="card-action">
  <div class="row nomarginbotton">
    <button class="btn waves-effect waves-light btn-large col s12 m12" [ngClass]="{'disabled': !order.getAmount() || brlusermax == '100%'}"
      (click)="emitonSubmitOrderClickEvent()" name="action"> <i class="fa fa-check-circle" aria-hidden="true"></i> Buy
      {{order.firstcurrency}}
    </button>
  </div>
</div>