@import "../../../../../styles.scss";

.currencymethod {
  cursor: pointer;
}

.selected {
  border-bottom: 6px solid;
  border-color: $secondary-color;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}